.book .book-summary .chapter > .articles {
	overflow: hidden;
	max-height: 0px;
}

.book .book-summary .chapter.expanded > .articles {
	max-height: 9999px;
}

.book .book-summary .exc-trigger {
	position: absolute;
  	left: 12px;
  	top: 12px;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
	padding-left: 30px;
	cursor: pointer;
}

.book .book-summary .exc-trigger:before {
  	content: "\f054";
}

.book .book-summary .expanded > a .exc-trigger:before,
.book .book-summary .expanded > span .exc-trigger:before {
	content: "\f078";
}
.summary>.chapter >a{
    font-size:16px;
    font-weight: 600;
}

.summary>.chapter>.articles>.chapter >a{
	font-size:15px;
    font-weight:600;
}

.summary>.chapter>.articles>.chapter> .articles>.chapter >a{
	font-size:14px;
    font-weight:550;
} 

.summary>.chapter>.articles>.chapter> .articles>.chapter>.articles>.chapter  >a{
    font-weight:540;
} 

